
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <h2 class="header-title m-t-0 m-b-30">Adding New Project</h2>
                        
                        <label title="lblName" style="height:40px; width:110px">Name</label>
                        <textarea  style="height:40px; width:110px" class="text">  </textarea>
                        <br />
                        <br />
                        <label title="lblStartingDate" style="height:40px; width:110px">Starting Date</label>
                        <textarea  style="height:40px; width:110px">  </textarea>
                        <br />
                        <br />
                        <label title="lblClientName" style="height:40px; width:110px">Client Name</label>
                        <textarea  style="height:40px; width:110px">  </textarea>
                        <br />
                        <br />
                        <label title="lblProjectManager" style="height:40px; width:110px">Project Manager</label>
                        <textarea  style="height:40px; width:110px">  </textarea>
                        <br />
                        <br />
                        <button title="btnSaveProject" class="fc-button" style="height:40px; width:110px">Save</button>
                    </div>
                </div>
            </div>


        </div>
   